/* MOBILE NAV */
.navigation__icon-block {
  border: none;
  background: transparent;
  display: none;
  position: absolute;
  top: 5rem;
  right: 5rem;
}

.navigation__icon-block:hover {
  cursor: pointer;
}

.navigation__icon {
  position: relative;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 4rem;
  height: 2px;
  background-color: var(--color-primary);
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0rem;
}

.navigation__icon::before {
  top: -1rem;
}

.navigation__icon::after {
  top: 1rem;
}
/* END MOBILE NAV */

/* SECTION HERO */
.hero {
  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%)
      #211f20;
}

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 4rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo:link,
.logo:visited {
  text-decoration: none;
}

.logo__title {
  margin: 0;
  line-height: 1.1;
  font-size: 3.2rem;
  color: var(--color-primary);
}

.logo__sub-title {
  font-family: var(--font-text);
  font-size: 1.2rem;
  line-height: 1.25;
  color: #fff;
  letter-spacing: 1px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__link:link,
.nav__link:visited,
.nav__link--active {
  padding: 0.5rem 0;
  text-decoration: none;
  color: var(--color-grey-light-2);
  font-size: 1.5rem;
  font-family: var(--font-text);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:active,
.nav__link--active {
  color: var(--color-grey-light-1);
  border-bottom: 3px solid var(--color-primary);
}

.hero__container {
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.hero__text-block {
  max-width: 45rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4.2rem;
  margin: 0 4rem;
}

.hero__title {
  font-size: 4.4rem;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #fff;
  width: 31rem;
}

.hero__text {
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: var(--font-text);
  color: var(--color-grey-light-2);
}

.hero__image {
  display: block;
  max-width: 100%;
}

/* SECTION ABOUT */
.about {
  display: flex;
  align-items: center;
  gap: 12rem;
  padding: 8rem 21.5rem;
}

.about__image {
  display: block;
  max-width: 100%;
}

.about__text-block {
  max-width: 43rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.about__heading {
  color: var(--color-grey-dark-1);
  width: 31rem;
}

.about__text {
  color: var(--color-grey-dark-2);
}

/* SECTION FRIENDS */
.friends {
  background-color: var(--color-grey-light-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 8rem 4rem 10rem 4rem;
}

.friends__heading {
  width: 34rem;
  text-align: center;
}

.friends__cards-block {
  display: flex;
  align-items: center;
  gap: 5.3rem;
}

.friends__cards {
  display: flex;
  gap: 9rem;
}

.arrow__icon {
  width: 2.8rem;
  stroke: currentColor;
  stroke-width: 2;
}

.friends__buttons--mobile {
  display: none;
}

/* SECTION HELP */
.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 8rem 4rem 10rem 4rem;
}

.help__heading {
  width: 30rem;
  text-align: center;
}

.help__icons {
  width: 100rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12rem;
  row-gap: 5.5rem;
  justify-content: center;
}

.help__icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  align-items: center;
}

.help__icon {
  height: 6rem;
  width: 6rem;
  fill: var(--color-primary);
}

/* SECTION DONATE */
.donate {
  background-color: var(--color-grey-light-3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 8rem 4rem 10rem 4rem;
}

.donate__image {
  display: block;
  max-width: 100%;
}

.donate__text-block {
  width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.donate__heading {
  width: 28rem;
}

.donate__credit-card:link,
.donate__credit-card:visited {
  display: block;
  text-decoration: none;
  height: 4.3rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 0.2s;
}

.donate__credit-card:hover {
  background-color: var(--color-primary-light);
}

.donate__credit-card:active {
  transform: translateY(2px);
}

.donate__credit-card__icon {
  width: 3rem;
}

.donate__credit-card__number {
  color: var(--color-grey-dark-1);
  font-size: 2rem;
  font-family: var(--font-text);
  font-weight: 400;
  letter-spacing: 0.12em;
}

.donate__text {
  color: var(--color-grey-dark-4);
  font-family: var(--font-text);
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.5;
}

/**************************************************/
/* MEDIA QUERIES */

/* 80em (1200px) MEDIA QUERIES */
@media only screen and (max-width: 80em) {
  /* SECTION ABOUT */
  .about__image {
    width: 22rem;
  }

  /* SECTION FRIENDS */
  .friends__cards-block {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }

  .friends__cards {
    gap: 4rem;
  }

  .friends__card:nth-child(n + 3) {
    display: none;
  }

  /* SECTION HELP */
  .help__icons {
    column-gap: 10rem;
    row-gap: 4.5rem;
  }
}

/* 62.5em (1000px) MEDIA QUERIES */
@media only screen and (max-width: 62.5em) {
  /* SECTION HERO */
  .hero__container {
    gap: 6rem;
  }

  .hero__text-block {
    max-width: 40rem;
    padding-bottom: 2rem;
  }

  /* SECTION ABOUT */
  .about {
    gap: 10rem;
    padding: 8rem 18rem;
  }

  /* SECTION DONATE */
  .donate__credit-card__number {
    font-size: 1.8rem;
  }
}

/* 55em (880px) MEDIA QUERIES */
@media only screen and (max-width: 55em) {
  /* SECTION ABOUT */
  .about {
    gap: 10rem;
    padding: 8rem 14rem;
  }

  /* SECTION FRIENDS */
  .friends {
    gap: 4rem;
    padding: 6rem 3rem;
  }

  /* SECTION DONATE */
  .donate {
    gap: 4rem;
    padding: 6rem 3rem;
  }

  .donate__credit-card__number {
    font-size: 1.5rem;
  }
}

/* 48em (768px) MEDIA QUERIES */
@media only screen and (max-width: 48em) {
  /* SECTION HERO */
  .header {
    padding: 3rem;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__image-block {
    align-self: flex-end;
    max-width: 75%;
    padding-right: 3rem;
  }

  /* SECTION ABOUT */
  .about {
    display: flex;
    flex-direction: column-reverse;
    gap: 8rem;
    padding: 8rem 16.5rem;
  }

  <<<<<<< HEAD
  /* SECTION FRIENDS */
  .friends__cards-block {
    gap: 3rem;
  }

  .friends__card:nth-child(n + 2) {
    display: none;
  }

  =======
>>>>>>> f211471 (feat: add mobile media query, hide menu)
  /* SECTION HELP */
  .help__icons {
    width: 60rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8rem;
    row-gap: 8rem;
    justify-content: center;
    align-items: center;
  }

  <<<<<<< HEAD .help__icon-block {
    width: 14rem;
    height: 14rem;
  }

  =======
>>>>>>> f211471 (feat: add mobile media query, hide menu)
  /* SECTION HELP */
  .donate {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 8rem 4rem 10rem 4rem;
  }
}

/* 35em (560px) MEDIA QUERIES */
@media only screen and (max-width: 35em) {
  .header {
    top: 0rem;
    right: 0rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6rem;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .navigation__icon-block {
    display: block;
  }
}

/* 26.25em (420px) MEDIA QUERIES */
@media only screen and (max-width: 26.25em) {
  .hero__image-block {
    max-width: 90%;
    padding-right: 2rem;
  }

  /* FRIENDS ARROW BUTTONS FOR MOBILE */
  .friends__cards-block {
    flex-direction: column;
  }

  .friends__button--desktop {
    display: none;
  }

  .friends__buttons--mobile {
    display: flex;
    gap: 6rem;
  }

  /* SECTION HELP */
  .help__icon-block {
    width: 13rem;
    height: 13rem;
  }

  .help__icon {
    height: 5rem;
    width: 5rem;
  }

  .help__title {
    font-size: 1.8rem;
  }

  .help__icons {
    width: 30rem;
    column-gap: 4rem;
    row-gap: 4rem;
    justify-content: flex-start;
  }

  .donate__heading {
    width: 100%;
    text-align: center;
  }
}
