/* RESET */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Set default font-size to 10px */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* Replaces Georgia */
  --font-main: "Tinos", serif;
  /* Replaces Arial */
  --font-text: "PT Sans", sans-serif;

  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-grey-light-1: #fafafa;
  --color-grey-light-2: #cdcdcd;
  --color-grey-light-3: #f6f6f6;

  --color-grey-dark-1: #545454;
  --color-grey-dark-2: #4c4c4c;
  --color-grey-dark-3: #292929;
}

/* GENERAL STYLES */
body {
  font-family: var(--font-text);
  font-weight: 400;
}

.section-container {
  max-width: 128rem;
  margin: 0 auto;
}

/* Elements */
.button:link,
.button:visited {
  display: block;
  text-decoration: none;
  border-radius: 100px;
  padding: 1.5rem 4.5rem;
  font-family: var(--font-main);
  color: var(--color-grey-dark-3);
  font-size: 1.7rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;
}
.button--primary:link,
.button--primary:visited {
  background-color: var(--color-primary);
}
.button--primary:hover {
  background-color: var(--color-primary-light);
}
.button--primary:active {
  transform:translateY(2px);
}
.button--secondary:link,
.button--secondary:visited {
  border: 2px solid var(--color-primary);
  background-color: #fff;
  color: var(--color-grey-dark-3);
}
.button--secondary:hover {
  border: 2px solid var(--color-primary-light);
  background-color: var(--color-primary-light);
}
.button--secondary:active {
  transform:translateY(2px);
}

/* Typography */
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--color-grey-dark-1);
}
.heading-2 {
  font-size: 4.4rem;
}
.heading-3 {
  font-size: 3.5rem;
}
.heading-4 {
  font-size: 2rem;
}

.section-text {
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: var(--font-text);
}

/* SECTION HERO */
.hero {
  background: url(../../assets/images/start-screen-background.jpg);
}

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 4rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.logo:link,
.logo:visited {
  text-decoration: none;
}
.logo__title {
  margin: 0;
  line-height: 1.1;
  font-size: 3.2rem;
  color: var(--color-primary);
}
.logo__sub-title {
  font-family: var(--font-text);
  font-size: 1.2rem;
  line-height: 1.25;
  color: #fff;
  letter-spacing: 1px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav__item {
  display: flex;
  align-items: center;
}
.nav__link:link,
.nav__link:visited,
.nav__link--active {
  padding: .5rem 0;
  text-decoration: none;
  color: var(--color-grey-light-2);
  font-size: 1.5rem;
  font-family: var(--font-text);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;
}
.nav__link:hover,
.nav__link:active,
.nav__link--active {
  var(--color-grey-light-1);
  border-bottom: 3px solid var(--color-primary);
}

.hero__container {
  display: flex;
  gap: 10rem;
  justify-content: center;
}
.hero__text-block {
  max-width: 45rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4.2rem;
  margin: 0 4rem;
}
.hero__title {
  font-size: 4.4rem;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #fff;
  width: 31rem;
}
.hero__text {
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: var(--font-text);
  color: var(--color-grey-light-2);
}
.hero__image {
  display: block;
  max-width: 100%;
}

/* SECTION ABOUT */
.about {
  display: flex;
  align-items: center;
  gap: 12rem;
  padding: 8rem 21.5rem;
}
.about__image {
  display: block;
  max-width: 100%;
}
.about__text-block {
  max-width: 43rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.about__heading {
  color: var(--color-grey-dark-1);
  letter-spacing: 1px;
  width: 31rem;
}
.about__text {
  color: var(--color-grey-dark-2);
}

/* SECTION FRIENDS */

.friends {
  background-color: var(--color-grey-light-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 8rem 4rem 10rem 4rem;
}

.friends__cards-block {
  display: flex;
  gap: 5.3rem;
}

.friends__cards {
  display: flex;
  gap: 9rem;
}

.friends__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: var(--color-grey-light-1);
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 3rem;
}