/* HEADER */
.header {
  /* max-width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 4rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo:link,
.logo:visited {
  text-decoration: none;
}

.logo__title {
  margin: 0;
  line-height: 1.1;
  font-size: 3.2rem;
  color: var(--color-primary);
}

.logo__sub-title {
  font-family: var(--font-text);
  font-size: 1.2rem;
  line-height: 1.25;
  color: #fff;
  letter-spacing: 1px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__link:link,
.nav__link:visited,
.nav__link--active {
  padding: .5rem 0;
  text-decoration: none;
  color: var(--color-grey-light-2);
  font-size: 1.5rem;
  font-family: var(--font-text);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:active,
.nav__link--active {
  var(--color-grey-light-1);
  border-bottom: 3px solid var(--color-primary);
}

/* OUR PETS */
.pets {
  background-color: var(--color-grey-light-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 8rem 4rem 10rem 4rem;
}

.pets__heading {
  width: 34rem;
  text-align: center;
}

.friends__cards-block {
  display: flex;
  align-items: center;
  gap: 5.3rem;
}

.friends__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.arrow__icon {
  width: 2.8rem;
  stroke: currentColor;
  stroke-width: 2;
}
