/* RESET */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Set default font-size to 10px */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* Replaces Georgia */
  --font-main: "Tinos", serif;
  /* Replaces Arial */
  --font-text: "PT Sans", sans-serif;

  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-white: #fff;
  --color-grey-light-1: #fafafa;
  --color-grey-light-2: #cdcdcd;
  --color-grey-light-3: #f6f6f6;

  --color-grey-dark-1: #545454;
  --color-grey-dark-2: #4c4c4c;
  --color-grey-dark-3: #292929;
  --color-grey-dark-4: #b2b2b2;
}

/* GENERAL STYLES */
body {
  font-family: var(--font-text);
  font-weight: 400;
}

.section-container {
  max-width: 128rem;
  margin: 0 auto;
}

/* Elements */
.button,
.button:link,
.button:visited {
  border: none;
  display: block;
  text-decoration: none;
  border-radius: 100px;
  padding: 1.5rem 4.5rem;
  font-family: var(--font-main);
  color: var(--color-grey-dark-3);
  font-size: 1.7rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;
}

.button--round {
  width: 5.2rem;
  height: 5.2rem;
  font-family: var(--font-main);
  padding: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--primary,
.button--primary:link,
.button--primary:visited {
  background-color: var(--color-primary);
}

.button--primary:hover {
  background-color: var(--color-primary-light);
}

.button--primary:active {
  transform: translateY(2px);
}

.button--secondary,
.button--secondary:link,
.button--secondary:visited {
  border: 2px solid var(--color-primary);
  background-color: #fff;
  color: var(--color-grey-dark-3);
}

.button--secondary:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.button--secondary:active {
  transform: translateY(2px);
}

.button--active {
  cursor: default;
  background-color: var(--color-primary);
  transform: none;
}

.button--inactive,
.button--inactive:link,
.button--inactive:visited,
.button--inactive:hover,
.button--inactive:active {
  cursor: default;
  background-color: transparent;
  border-color: var(--color-grey-light-2);
  color: var(--color-grey-light-2);
  transform: none;
}

/* Typography */
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--color-grey-dark-1);
}

.heading-2 {
  font-size: 4.4rem;
}

.heading-3 {
  font-size: 3.5rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.heading-4 {
  font-size: 2rem;
}

.heading-5 {
  font-size: 1.5rem;
}

.section-text {
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: var(--font-text);
}

/* FRIENDS CARDS */
.friends__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: var(--color-grey-light-1);
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 3rem;
  transition: all 0.2s;
}

.friends__card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}

/* FOOTER */
.footer {
  background: url(../images/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%)
      #211f20;
  display: flex;
  align-items: flex-start;
  gap: 16rem;
  padding: 4rem;
  padding-bottom: 0;
}

.footer__nav {
  display: flex;
  gap: 16rem;
}

.footer__block {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer__heading {
  width: 27rem;
  color: var(--color-white);
}

.footer__link:link,
.footer__link:visited {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--font-main);
  font-size: 2rem;
  transition: all 0.2s;
}

.footer__link:hover {
  color: var(--color-white);
}

.footer__link:hover .footer__icon {
  fill: var(--color-white);
}

.footer__link:active {
  transform: translateY(2px);
}

.footer__icon {
  flex: none;
  width: 4rem;
  height: 4rem;
  fill: var(--color-primary);
  transition: all 0.2s;
}

.footer__image {
  display: block;
}

/* 80em (1280px) MEDIA QUERIES */
@media only screen and (max-width: 80em) {
  html {
    font-size: 56.25%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    padding: 4rem;
    padding-bottom: 0;
  }

  .footer__nav {
    display: flex;
    gap: 8rem;
  }
}

/* 55em (8800px) MEDIA QUERIES */
@media only screen and (max-width: 55em) {
  html {
    font-size: 50%;
  }

/* 48em (768px) MEDIA QUERIES */
@media only screen and (max-width: 48em) {
}
